Thu thập và tiền xử lý dữ liệu cổ phiếu, chứng khoán
Khai báo thư viện yfinance để lấy dữ liệu và pandas để đọc dữ liệu

In [17]:
import yfinance as yf
import pandas as pd

In [18]:
# lấy mã cổ phiếu apple , max là lấy từ đầu tiên tới hiện tại
ticker = yf.Ticker("AAPL")
data = ticker.history(period="max")
# dùng pandas để đưa về dưới dạng data frame
data_AAPL = pd.DataFrame(data)
# chuyển thành file cvs
data_AAPL.to_csv("dataAAPL.csv")

In [6]:
#Hiện thị bộ dữ liệu apple vừa mới thu thập
#Apple
read_df = pd.read_csv("dataAAPL.csv")
read_df.set_index("Date", inplace=True)
read_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099319,0.099750,0.099319,0.099319,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094569,0.094569,0.094137,0.094137,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087659,0.087659,0.087228,0.087228,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089387,0.089818,0.089387,0.089387,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.091978,0.092410,0.091978,0.091978,73449600,0.0,0.0

In [16]:


# Giả sử 'dataset' là tên DataFrame của bạn
# Bạn có thể thay thế nó bằng tên thực tế của DataFrame của mình
dataset = pd.read_csv('dataAAPL.csv')
for i in range(len(dataset.columns)):
    # Dòng này tính số lượng giá trị thiếu trong cột hiện tại. dataset[dataset.columns[i]] chọn cột, .isna() tạo một mask boolean với True đại diện cho giá trị thiếu, và .sum() 
    # đếm số lượng giá trị True, tương ứng với số lượng giá trị thiếu trong cột đó.
    missing_data = dataset[dataset.columns[i]].isna().sum()
    # Dòng này tính tỷ lệ phần trăm giá trị thiếu trong cột hiện tại. Nó chia số lượng giá trị thiếu (missing_data) cho tổng số lượng mục trong cột (len(dataset))
    # và nhân với 100 để có tỷ lệ phần trăm.
    perc_missing_data = (missing_data / len(dataset)) * 100
    #Dòng này in thông tin về giá trị thiếu trong cột hiện tại.
    print('Cột %d, số lượng giá trị thiếu: %d, tỷ lệ %.2f%%' % (i, missing_data, perc_missing_data))

Cột 0, số lượng giá trị thiếu: 0, tỷ lệ 0.00%
Cột 1, số lượng giá trị thiếu: 0, tỷ lệ 0.00%
Cột 2, số lượng giá trị thiếu: 0, tỷ lệ 0.00%
Cột 3, số lượng giá trị thiếu: 0, tỷ lệ 0.00%
Cột 4, số lượng giá trị thiếu: 0, tỷ lệ 0.00%
Cột 5, số lượng giá trị thiếu: 0, tỷ lệ 0.00%
Cột 6, số lượng giá trị thiếu: 0, tỷ lệ 0.00%
Cột 7, số lượng giá trị thiếu: 0, tỷ lệ 0.00%

In [24]:
# xóa các cột dư thừa 
columns_to_delete = ['Dividends', 'Stock Splits']

for column in columns_to_delete:
    if column in data_AAPL.columns:
        del data_AAPL[column]
data_AAPL.to_csv("dataAAPL.csv")
data_AAPL

,Open,High,Low,Close,Volume
Date,,,,,
1980-12-12 00:00:00-05:00,0.099319,0.099750,0.099319,0.099319,469033600
1980-12-15 00:00:00-05:00,0.094569,0.094569,0.094137,0.094137,175884800
1980-12-16 00:00:00-05:00,0.087659,0.087659,0.087228,0.087228,105728000
1980-12-17 00:00:00-05:00,0.089387,0.089818,0.089387,0.089387,86441600
1980-12-18 00:00:00-05:00,0.091978,0.092410,0.091978,0.091978,73449600
...,...,...,...,...,...
2023-11-17 00:00:00-05:00,190.250000,190.380005,188.570007,189.690002,50922700
2023-11-20 00:00:00-05:00,189.889999,191.910004,189.880005,191.449997,46505100
2023-11-21 00:00:00-05:00,191.410004,191.520004,189.740005,190.639999,38134500
2023-11-22 00:00:00-05:00,191.490005,192.929993,190.830002,191.309998,39617700
2023-11-24 00:00:00-05:00,190.869995,190.899994,189.250000,189.970001,24048300